
<div class="row col-xs-8">
        <div class="col-xs-12" style="">
            <h4 class="sub-header">Reflected XSS Query String</h4>
            <p>
				<h4 class="sub-header">Redirect From res.redirect(path)</h4>
				<form method="GET" action="/header/redir" target="_blank">
				  <div class="form-group">
				    <input name="user_path" class="form-control" id="exampleInputEmail1" value="http://asdf.com">
				  </div>
				  <button type="submit" class="btn btn-default">Submit</button>
				</form>
            </p>
        </div>
        

</div>
